In [1]:
import pandas as pd

month = pd.to_datetime('02/01/2018')
close_month = pd.DataFrame(
    {
        'A': 1,
        'B': 12,
        'C': 35,
        'D': 3,
        'E': 79,
        'F': 2,
        'G': 15,
        'H': 59},
    [month])

close_month

            A   B   C  D   E  F   G   H
2018-02-01  1  12  35  3  79  2  15  59

In [3]:
type(close_month)

pandas.core.frame.DataFrame

In [4]:
close_month.loc[month].nlargest(2)

E    79
H    59
Name: 2018-02-01 00:00:00, dtype: int64

In [6]:
close_month.loc[month].nlargest(-2)

Series([], Name: 2018-02-01 00:00:00, dtype: int64)

In [7]:
close_month.loc[month].nsmallest(2)

A    1
F    2
Name: 2018-02-01 00:00:00, dtype: int64

In [8]:
(-1 *close_month)

            A   B   C  D   E  F   G   H
2018-02-01 -1 -12 -35 -3 -79 -2 -15 -59

In [10]:
close_month.loc[month].nlargest(2)

E    79
H    59
Name: 2018-02-01 00:00:00, dtype: int64

In [12]:
close_month.loc[month].nsmallest(2)

A    1
F    2
Name: 2018-02-01 00:00:00, dtype: int64

In [13]:
(-1 * close_month).loc[month].nlargest(2) *-1

A    1
F    2
Name: 2018-02-01 00:00:00, dtype: int64