In [2]:
import numpy as np
import pandas as pd

In [3]:

close = pd.DataFrame(
    {
        'ABC': [1, 5, 3, 6, 2],
        'EFG': [12, 51, 43, 56, 22],
        'XYZ': [35, 36, 36, 36, 37],},
    pd.date_range('10/01/2018', periods=5, freq='D'))
close

            ABC  EFG  XYZ
2018-10-01    1   12   35
2018-10-02    5   51   36
2018-10-03    3   43   36
2018-10-04    6   56   36
2018-10-05    2   22   37

In [5]:
(close - close.shift(1))/close.shift(1)

                 ABC       EFG       XYZ
2018-10-01       NaN       NaN       NaN
2018-10-02  4.000000  3.250000  0.028571
2018-10-03 -0.400000 -0.156863  0.000000
2018-10-04  1.000000  0.302326  0.000000
2018-10-05 -0.666667 -0.607143  0.027778